player-connection-mode=Listen
player-connection-guid=403382143
player-connection-debug=0
player-connection-project-name=MLProject
player-connection-ip=192.168.1.3
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=15b1f8d176e34880b085ebd5e6a9a8fc
